<h1>All Articles from all users</h1>

<br>
<%= link_to 'Home', root_path%>

<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th>Email</th>
    <th colspan="4"></th>
  </tr>
  <% @articles.includes(:user).each do |article| %>
    <tr>
      <td><%= article.title %></td>
      <td><%= article.text %></td>
      <td><%= article.user.email %></td>
    </tr>
  <% end %>
</table>
